{
  "region": "asia-east2",
  "api": {
    "version": "v1"
  },
  "twilio": {
    "ACCOUNT_SID": "your credential",
    "API_KEY": "your credential",
    "API_SECRET": "your credential",
    "TOKEN_TTL": "your credential"
  },
  "momo": {
    "TEST_ENV": "true",
    "PARTNER_CODE": "your code",
    "ACCESS_KEY": "your key",
    "SECRET_SECRET": "your secret"
  },
  "notification": {
    "email": {
      "from": "mail.elite.work@gmail.com",
      "vendors": {
        "gmail": {
          "user": "mail.elite.work@gmail.com",
          "pass": "3lite.work"
        }
      }
    }
  }
}
