{
  "region": "asia-east2",
  "api": {
    "version": "v1"
  },
  "twilio": {
    "ACCOUNT_SID": "your credential",
    "API_KEY": "your credential",
    "API_SECRET": "your credential",
    "TOKEN_TTL": "your credential"
  },
  "momo": {
    "PARTNER_CODE": "your code",
    "ACCESS_KEY": "your key",
    "SECRET_SECRET": "your secret"
  }
}
