p Hi #{name},

p
  | Session will be start at #{startTime}&nbsp;
  br
  | Click&nbsp;
  a(href=`https://dev.elites.work/rooms/${orderId}`) here
  | &nbsp;to meet up with your student.&nbsp;
  br
  br
  | Best regards,